<div class="m-12 flex space-x-4">
    <div class="justify-center w-1/4"><img class="block mx-auto w-32" src="/images/logo.png"></div>
    <div class=" w-2/4 justify-center"><img class="w-full" src="/images/headerFont.png"></div>
    <div class="justify-center p-12 w-1/4 items-center">
        <form action="/addNewSpell">
            <input class=" rounded-md p-4 w-3/4 block mx-auto bg-snitchGold text-gryffRed" type="submit" value="Add">
        </form>
    </div>
