<div class="container mx-auto px-4">
    <img class="w-32" src="/images/logo.png">
    <h1 class="text-red-900">Today's Spell is...</h1>
    <form action="/newSpell">
        <input class="bg-snitchGold text-gryffRed" type="submit" value="Add">
    </form>
</div>