<div class="m-12 flex space-x-4">
    <a class="justify-center w-1/4 block mx-auto w-32" href="/"><div ><img class="block mx-auto w-32" src="/images/logo.png"></div></a>
    <div class=" w-2/4 justify-center"><img class="w-full" src="/images/headerFont.png"></div>
    <div class="justify-center p-12 w-1/4 items-center">
        <form action="/newSpell">
            <input class=" rounded-md p-4 w-3/4 block mx-auto bg-gryffRed text-snitchGold text-lg font-bold" type="submit" value="ADD">
        </form>
    </div>
