<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css"
    <meta charset="utf-8">
    <title>Gryff</title>
  </head>
  <body class="bg-black">
    <header>
      {{>header}}
    </header>
    <div class="app">
      {{{body}}}
    </div>
  </body>
</html>