<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>Spellz R Uz</title>
</head>

<body class="bg-gray-800">
  <header>
    {{>header}}
  </header>
  <div class="app">
    {{{body}}}
  </div>
</body>

</html>