<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css"
    <meta charset="utf-8">
    <title>Gryffindor-Spell-Randomizer</title>
  </head>
  <body>
    <div class="app">
      {{{body}}}
    </div>
  </body>
</html>