<h1>Hello, User!</h1>

<h3>Today's spell is...</h3>

    <button type="button">Cast Spell!</button>

  <ul>
    {{#each spell}}
      <li><a href="/spell/{{id}}">{{name}}</a></li>
    {{/each}}
  <li><a href='newSpell'>Add a new spell!</a></li>
  </ul>

  </div>

