{{header}}

<div class="content-center">
  <div class="font-serif: 'Georgia'">
    <form action="" method="POST" id="newspell">
      <label for="name">Spell Name: </label>
      <input type="text" name="name">
      <label for="description">Description: </label>
      <input type="text" name="description">
      <label for="image">Image:</label>
      <input type="text" name="image">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>