<h1>Add a new spell here!</h1>

<form action="" method="POST" id="newspell">
  <li>
    <label for="name">Spell Name: </label>
    <input type="text" name="name">
  </li>

  <br>
  <li>
    <label for="description">Description: </label>
    <input type="text" name="description">
  </li>

  <br>
  <li>
    <label for="image">Image:</label>
    <input type="text" name="image">
  </li>

  <br>
  <li>
      <label for="spell_id">Spell ID:</label>
      <input type="text" name="spell_id"
  </li>

  <br>
  <li><button>submit</button></li>
</form>