{{header}}
  <div class="font-serif: 'Georgia' text-yellow-400">
   <center>
    <form action="/addNewSpell" method="POST" id="newspell">
       <h1 class="text-5xl font-bold font-serif: 'Georgia' text-yellow-400">Add your own spell:</h1>
       <br>

      <label class="text-5xl" for="name">Spell Name: </label>
      <input type="text" name="name">
      <br>
          <br>
      <label class="text-5xl" for="description">Description: </label>
      <input type="text" name="description">
          <br>
              <br>
      <label class="text-5xl" for="image">Image Link:</label>
      <input type="text" name="image">
          <br>
              <br>
                <div class="font-serif: 'Georgia' text-black">

      <input class="rounded-md p-4 w-1/4 block mx-auto bg-gryffRed text-snitchGold text-xl font-bold" type="submit" value="Submit">
    </form>
    </center>
</div>